.screenContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 65, 65);
    background-image: url('https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png');
}